<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737692648640-hcaqdi3o7qpgpn5srqlehj8o8els2vcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737692648640-hcaqdi3o7qpgpn5srqlehj8o8els2vcn</string>
	<key>API_KEY</key>
	<string>AIzaSyALGZLP-sNHqCxef_1zp0rj_5lqyxxxEho</string>
	<key>GCM_SENDER_ID</key>
	<string>737692648640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adab</string>
	<key>PROJECT_ID</key>
	<string>adab-e6eef</string>
	<key>STORAGE_BUCKET</key>
	<string>adab-e6eef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737692648640:ios:7a0ff80946a29603429925</string>
	<key>DATABASE_URL</key>
	<string>https://adab-e6eef.firebaseio.com</string>
</dict>
</plist>